body{
  /* background-image: url('https://cdn.europosters.eu/image/750webp/66372.webp');
   */
   background-image: url('https://media.gettyimages.com/photos/leaf-on-the-water-picture-id496438640?s=2048x2048');
  /* background-repeat: no-repeat;   */
  background-attachment: fixed;
  background-size: cover;
  max-width: auto;
  height: 100%;
}
.topnav {
  overflow: hidden;
  background-color:rgb(57, 172, 172);
  margin-bottom: 20px;
  margin-top:20px;
  text-align: center;
  cursor: none;
}
.topnav a {
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}









.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}